<h1>Listing posts</h1>

<table id="posts">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="page">
    <%= render @posts %>
  </tbody>
</table>

<%= paginate @posts %>
<br>

<%= link_to 'New Post', new_post_path %>
